.page-template-page-about {
    max-width: 1120px;

.hero{
   
    background-size: cover;
    display:flex;
    justify-content:center;
    height: 100vh;
    width: 100vw;

    h1 {
        text-transform: uppercase;
        color:white;
        text-align:center;
    }

  
}

  .p1 {
        text-align: center;
        

    }
    
}

  .h2 {
        text-transform: uppercase;
        text-align: center;
    }
