.post-type-archive-product {
       display: flex;
    border: 1px solid lightgrey;
    flex-wrap: row wrap;
    width: 300px;
.product-flex {  
 


img {

    height: 200px;
    width: 320px;
}
}

.archive-content {
    border: 1px solid lightgrey;
}
.shop-area{
    border: 1px solid black;
}
}