footer {
    background: url(../../images/dark-wood.png);
    height: 350px;
    width: 100vw;

}

.email span:before{
	font-family: 'FontAwesome';
	content: '\f085';
	position: relative;
	margin-right: 5px;
	font-size: 110%;
}

.footerinfo {
	display:flex;
	padding-top: 4%;

li {
	list-style-type: none;
	color: $background-color;
	line-height: 40px;
}

a {
	text-decoration: none;
	color: $background-color;
	font-family:$main-font-family;
	
}



 h1{
	color:$brand-orange;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 19%;

}
}

.site-info{
	display:none;
}

.logofoot {
	    margin:  2% 0 6% 25%;
img {
	height: 50px;
}
}

.copyright {
	text-align: center;
	color: $background-color;
	font-family: $accent-font-family;
	text-transform: uppercase;
} 