.herobanner {
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 
    url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover, cover;
    display:flex;
    justify-content:center;
    height: 100vh;
    width: 100vw;
    
}

//==================shop stuff


.shop-stuff  {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align:center;

}

.shopc {
    border: 1px solid lightgrey;
    border-top: 3px solid lightgrey;
    height: 250px;
    width: 260px;
    display: flex;
    flex-direction: column;
&:hover {
    border-color: #d99054;
}

    p {
        text-align: center;
        font-size: 14px;
        font-family: "merriweather",sans;
    }

    
}

.logotype{
    height: 75px;
    margin: 12px;
}

.catabtn {
    background-color: #248A83;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    &:hover {
      background-color: darken(#248A83, 10%);
   }

    a {

        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
               
    }
}




.catagorylogo {
    max-width: 75px;
}

//==========================journal section

.inh-journal {
    display:flex;
    justify-content:space-around;
    margin: 0 3% 0 3%;

}

    .transform {
    text-transform: uppercase;
    text-align: center;

}

.frontposts {
    border: 1px solid lightgrey;
   width: 385px;
   height: 475px;
    justify-content:space-around;
    img {
        border-bottom: 4px solid lightgrey;
        height: 250px;
    }

    a {
        text-transform: uppercase;
        text-decoration:none;
       
        color:  #248a83;
        &:hover {
            color: black;
        }
        h3 {
             font-size: 1.3rem;
             padding: 2%;
        }
    }
}

.rdmore {
    border: 1px solid black;
    width: 130px;
    font-size: 14px;
    height: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    &:hover {
        background-color: black;
        a {
            color: white;
        }
    }
    a {
        text-transform: uppercase;
        color: black;
        align-self: center;
        position:absolute;
    }
}


.homedate {
    font-size: 15px;
    padding: 1%;
    font-family: "merriweather", sans;
}



// adventures sections========================================



.latest {
   display:flex;
   width: 100%;
   height: 500px;

h1 {
    text-transform: uppercase;
    text-align: center;

}

h3 {
   font-size: 34px;
   color: white;
   padding: 4%;
   font-family: "merriweather", sans;
   &:hover {
       color:#f0e4d1;
   }
}

}

.leftAdThing {
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 
    url(../../images/adventures/canoe-girl.jpg);
    background-size: cover, cover;
    flex: 50% 0 0 ;
    margin: 1%;
}

.rightAdThing {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 595px;
    height: 100%;
    margin: -1.7% 1% 1% 0%;
    flex: 78% 0 0;

.beach{
   background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 
   url(../../images/adventures/beach-bonfire.jpg);
    background-size: cover, cover;
    /*flex: 94% 0 0;*/
    margin: 5.8% 2.1% 1% 0;
}

.mountain {
   background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 
   url(../../images/adventures/mountain-hikers.jpg);
   background-repeat: no-repeat;
   background-size: cover, cover;
   flex: 48% 0 0; 
   margin: 1% 2% 0 0%;
}
}

.sky {
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 
    url(../../images/adventures/night-sky.jpg);
   background-repeat: no-repeat;
   background-size: cover, cover;
   flex: 48% 0 0; 
    margin: 1% 2% 0 0%;
}
