.logo {
    height: 25px;
    margin-top: 30px;
    
}

.menu li {
    text-transform: uppercase;
    margin-right:20px;
    
}

.menu li a {
    color: #248A83;
      margin-top:30px;
}

.menu li a:hover {
    color:black;
  
}

.header-flex{
    width: 100%;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgrey;
    position:fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    height: 80px;
    margin-top: -25px;
}

.search-form {

    .search-field {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: "novecento", sans;
    display: none;
    }
    fieldset {
        margin-top: 19px;
        border:none;
    }
    button {
        display:none;

    }
}

//home page header------------------------------


.logo {
    height: 25px;
    margin: 36px 0 0 16px;
}

.menu li {
    text-transform: uppercase;
    margin-right:20px;
    
}

.menu li a {
    color: #248A83;
}

.menu li a:hover {
    color:black;
}

.main-navigation {
    display:flex;
}

.fa-search {
    margin-top: 30px;


    &:before {
    color: #248A83;
    
    &:hover {
    color: black;
    }
    }
}

.head1 {
    margin-top: 10px;
}
