.logo {
    height: 25px;
}

.menu li {
    text-transform: uppercase;
    margin-right:20px;
    
}

.menu li a {
    color: #248A83;
}

.menu li a:hover {
    color:black;
}

.header-flex{
    width: 100%;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgrey;
    position:fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

// .site-header {
//         border-bottom: 1px solid lightgrey;


// }

//home page header------------------------------


.logo {
    height: 25px;
}

.menu li {
    text-transform: uppercase;
    margin-right:20px;
    
}

.menu li a {
    color: #248A83;
}

.menu li a:hover {
    color:black;
}