

.socbtns {
    display:flex;
    justify-content:space-around;

    div {
        height:30px;
        width:75px;
        border: 1px solid black;
        display:flex;
        justify-content:center;

        &:hover {
        background-color: #248A83;
        border: none;
        a {
            color:white;
        }
        

    }

    }


    a {
        text-decoration: none;
        color:black;
        text-transform: uppercase;
        font-size:12px;
        text-align:center;
        margin-top: 5px;

    }

    
}

.submit {
    border: 1px solid;
    color: white;
    font-size: 12px;
    line-height: 1;
    background: #248a83;
}
    

    .single-post {
        .entry-title {
            color:white;
        }
        .entry-meta {
    background-color: #248a83;
    bottom: 7px;
    right: 102px;
    color: #fff;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 479.4px;
    max-width: 75%;
    top: 0;
    display: block;

    a{
        text-decoration:none;
        color:white;
    }
}
.entry-header {
    margin-top:50px;

}
        }

        .cat-links {
            text-transform:uppercase;

            a {
                color: #248a83;
                text-decoration: none;
                &:hover{ 
                color: black;
            }
        }
        }
    
    .tags-links {
            text-transform:uppercase;
            margin-left:56px;

            a {
                color: #248a83;
                text-decoration: none;
                &:hover{
                color: black;
            }
        }
        }
    