.date {
    .hentry {
      margin: 83px 0 1.5em 5.66rem;
    }
    

   .entry-header {
       margin-top: 11%;
   }

    .entry-title{
    background-color:$brand-green;
    left: 91px;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 7.9rem;
    width: 485px;
    top: 0;
    display: block;

    }

    .entry-meta {
    background-color: $brand-green;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 15.25rem;
    display: block;
    width: 408px;
    top: 13.6rem;
    text-transform: uppercase;
    color: $background-color;
    font-family: $accent-font-family ;
    right: 543px;
}

.entry-content{
    width: 700px;
    padding-right: 2%;
}

.sidebarinfo {
    margin: 15% 0 10% 0;
    height: 93%;
    
}


}

