.page-content-error {
    margin: 2.5em 4em 0;

    .widget {
        margin-left: -.5%;
    }

    .widgettitle, .widget-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 400px;
    }



    fieldset {
        border:none;
        margin-left: -2%;
        input {
            width: 200px;
            background-color: $brand-lightgrey;
            font-family: $main-font-family;
        }
    }

    button{ 
        display:none;
    }

    li {
        list-style-type:none;
        margin-left: -29%;

        a {
        text-decoration: none;
        color:$brand-green;
        font-family: $main-font-family;
        }
           a:hover {
        color:black;
    }
    }
}

.error-404 {
    margin-bottom: 6%;
}
