.logo {
    height: 25px;
}

.menu li {
    text-transform: uppercase;
    
}

.header-flex{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgrey;
}

header {
        border-bottom: 1px solid lightgrey;


}
