ul {
    padding:0;
}

.sidebarinfo {
    border-left: 1px solid $brand-lightgrey;
    margin-top:18%;
    height: 96%;
      
}

.sidecontact {
    width: 256px;
    padding-top: 4rem;
    margin-left: 75px;
    line-height: 35px;

    li {
        list-style-type: none;
        
    }

    ul {
        margin:0;
    }

    h1 {
    
    font-size: 24px;
    text-transform: uppercase;
    font-family: $accent-font-family;
    }

    a {
        text-decoration: none;
        color:$brand-green;
        line-height: 35px;
        font-family: $main-font-family;
    }
    a:hover {
        color:black;
    }
}

#search-2 {
    display:none;
}

#recent-posts-2 {
    display:none;
}

#meta-2 {
    display:none;
}

#categories-2  {
    display:none;
}

#recent-comments-2 {
    display:none;
}

#archives-2 {

    h2 {
        text-transform:uppercase;
     
    }
    li {
          list-style-type: none;

    }
     ul {
        margin:0;
    }

    a {
        font-family: $main-font-family;
        text-decoration: none;
        color: $brand-green;
    }
    a:hover{
        color:black;
    }
}
.widget {
    margin: 1px 75px 0.5em;
    width: 206px;
}
.widget-title {
    
        text-transform: uppercase;
    
}

.dow {
    font-weight: bold;
}