
.single-post, .page-template-default{

    .flex-wrapper {
    display:flex;
    flex-wrap: nowrap;

}
.widget-area {
    margin-left: 10%;
}
.content-area {
    width:60%;
    margin-left:4%;
}

.site-mainhome {
    // max-width: 70%;
    padding: 4%;
    padding-top: 2rem;
}


.entry-header {
    position: relative;
    margin-top: 15%;
}

 .wp-post-image {
        width: 780px;
    }

.entry-meta {
    background-color: $brand-green;
    right: 0px;
    color: #fff;
    bottom: 6px;
    left: 13rem;
    padding: .75rem 1.5rem;
    position: absolute;
   
    max-width: 40;
    top: 362px;
    font-family: $main-font-family;

}
}

.readmore  {
    width: 130px;
    height: 40px;
    border: 1px solid black;
     display: flex;
    align-items: center;
    justify-content: center;

.moretag {
    font-size: .8rem;
    color: black;
    }

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;

   
}


}



.readmore:hover  {
    border: 1px solid $brand-green;   
    background-color: $brand-green;
    a {
    color: $background-color;
    }

}



.socbtns {
    display:flex;
    justify-content:space-around;
    width: 40%;

    div {
        height:30px;
        width:75px;
        border: 1px solid black;
        display:flex;
        justify-content:center;

        &:hover {
        background-color: $brand-green;
        border: none;
        a {
            color:$background-color;
        }
        

    }

    }


    a {
        text-decoration: none;
        color:black;
        text-transform: uppercase;
        font-size:12px;
        text-align:center;
        margin-top: 5px;

    }

    
}

.submit {
    border: 1px solid;
    color: $background-color;
    font-size: 12px;
    line-height: 1;
    background: $brand-green;
    
}
    

    .single-post {
        .entry-title {
            color:$background-color;
            text-transform: uppercase;
        }
        .entry-meta {

    a{
        text-decoration:none;
        color:$background-color;
        
    }
}
   }

        .cat-links {
            text-transform:uppercase;
            font-family: $accent-font-family;

            a {
                color: $brand-green;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{ 
                color: black;
            }
        }
        }
    
    .tags-links {
            text-transform:uppercase;
            font-family: $accent-font-family;
            margin-left:56px;

            a {
                color: $brand-green;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                color: black;
            }
        }
        }

        .entry-title {
    background-color: $brand-green;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
    top: 0; 
    display:block;

a {
    color: $background-color;
    text-decoration: none;
    font-size: 33.6px;
    font-size: 2.1rem;
    text-transform: uppercase;

}
}
.page-template-default {
.entry-title {
    background-color: $background-color;
    position: relative;
    text-transform: uppercase;
    font-size: 3.2rem;

}
}



